.container {
	background-color: rgb(243, 243, 243);
	width: 100%;
	min-height: 93vh;
}
.header {
	margin-bottom: 10px;
	display: flex;
	background-color: #fff;
	padding: 7px;
	align-items: center;
}
.header p {
	font-weight: 600;
	margin-left: 10px;
	color: rgba(0, 0, 0, 0.658);
}
.backArrow {
	margin-top: 5px;
	margin-right: 5px;
	transform: rotate(90deg);
}
.photo {
	margin: 10px;
	border-radius: 10px;
}
.content {
	margin-left: 10px;
}
.addNewPhoto {
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	background-color: #007bff;
	color: #fff;
	padding: 8px;
	border-radius: 10px;
}
.file {
	display: none;
}
.infoItem {
	margin-right: 5px;
	margin-bottom: -4px;
}
.noneFriends {
	margin-top: 100px;
	margin-left: 80px;
	color: #007aff;
}
