* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin-bottom: 5vh;
	max-width: 500px;
	position: relative;
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#main {
	position: relative;
}
.active {
	border-left: 1px solid #8fc1f8;
}
