.backArrow {
	margin-top: 5px;
	margin-right: 5px;
	transform: rotate(90deg);
}
.container {
	background-color: rgb(243, 243, 243);
	width: 100%;
	min-height: 93vh;
}
.header {
	margin-bottom: 10px;
	display: flex;
	background-color: #fff;
	padding: 7px;
	align-items: center;
}
.header p {
	font-weight: 600;
	margin-left: 10px;
	color: rgba(0, 0, 0, 0.658);
}

.buttonM {
	font-size: 26px;
	padding: 2px 9px 0px 9px;
	border-radius: 50%;
	border: none;
	font-weight: 200;
	background-color: #fff;
	color: #007aff;
	-webkit-box-shadow: 0px 0px 14px -1px rgba(0, 144, 255, 0.2);
	-moz-box-shadow: 0px 0px 14px -1px rgba(0, 144, 255, 0.2);
	box-shadow: 0px 0px 14px -1px rgba(0, 144, 255, 0.2);
	position: fixed;
	bottom: 50px;
	transition: 0.3s ease all;
	right: 20px;
}
.buttonMC {
	font-size: 26px;
	padding: 2px 9px 0px 9px;
	border-radius: 50%;
	border: none;
	font-weight: 200;
	background-color: #fff;
	color: #007aff;
	-webkit-box-shadow: 0px 0px 14px -1px rgba(0, 144, 255, 0.2);
	-moz-box-shadow: 0px 0px 14px -1px rgba(0, 144, 255, 0.2);
	box-shadow: 0px 0px 14px -1px rgba(0, 144, 255, 0.2);
	position: fixed;
	bottom: 230px;
	transition: 0.3s ease all;
	right: 20px;
}
.pause {
	padding: 3px 6px 3px 6px;
	border-radius: 50%;
	position: absolute;
	bottom: 4px;
	right: 40px;
	color: #fff;
	background-color: #007aff;
	border: none;
}
.item {
	position: absolute;
	bottom: 7px;
	right: 0;
	width: 84%;
}
.musItem {
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	background-color: #fff;
	margin: 10px;
	display: flex;
	padding: 10px;
	border-radius: 20px;
}
.contentP {
	margin-left: 10px;
}
.desc {
	position: relative;
}
.nameMus {
	font-size: 15px;
	margin-top: 5px;
}
.PhotoMus {
	object-fit: cover;
	border-radius: 50%;
}
.valutInput {
	position: absolute;
	bottom: 5px;
	left: 40px;
	right: 0;
	width: 65%;
}
.currentTime {
	position: absolute;
	bottom: 4px;
	left: 5px;
}
.allTime {
	position: absolute;
	bottom: 4px;
	right: 5px;
}

.wrapperC {
	position: fixed;
	bottom: -100%;
	left: 0;
	right: 0;
	background-color: #fff;
	transition: 0.6s ease all;
	border-radius: 20px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	transition: 0.6s ease all;
	border-radius: 20px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.input {
	padding: 7px;
	border: none;
	width: 100%;
	outline: none;
	background-color: rgba(0, 0, 0, 0.09);
	border-radius: 10px;
}
.file {
	display: none;
}
.title {
	display: flex;
	flex-direction: column;
}
.title small {
	margin: 10px;
}
.buttonSave {
	margin-top: 10px;
	border: none;
	padding: 10px;
	border-radius: 10px;
}
.selectFile {
	position: relative;
	background-color: #007aff;
	width: 24px;
	display: flex;
	align-items: center;
	color: #fff;
	justify-content: center;
	padding: 0 4px 3px 4px;
	border-radius: 50%;
	height: 24px;
}
.selectFileItems {
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 10px;
	color: black;
	background-color: rgb(255, 208, 0);
	padding: 0 4px 0 4px;
	border-radius: 50%;
}
.noneFriends {
	margin-top: 100px;
	margin-left: 120px;
	color: #007aff;
}
.infoItem {
	margin-right: 5px;
	margin-bottom: -4px;
}
